<h1>Jeu du pendu</h1>

<p>{{devine()}}</p>

<p class="win" *ngIf="end()">Gagné !

    <button class="retry" (click)="start()">Rejouer</button>

</p>

<p class="essais">Nombre d'essais : {{try.length}}</p>

<div><button class="letter" [class.try]="isTried(letter)" [class.error]="isError(letter)" [disabled]="isTried(letter) || end()" (click)="onClick(letter)" *ngFor="let letter of letters">{{letter}}</button></div>


<div class="essais">
    <p class="tried">Lettres déjà essayées :</p>
    <span *ngFor='let tried of try'>
            {{tried}}
    </span>
</div>